<div class="container">
        <br>
          <h1 align="center">{{name}}</h1>
        
        <div class="jumbotron">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="exampleFirstName">First Name</label>
                  <input type="text" class="form-control" id="exampleFirstName" placeholder="Enter first name">
                </div>
                <div class="col">
                  <label for="exampleLastName">Last Name</label>
                  <input type="text" class="form-control" id="exampleLastName" placeholder="Enter last name">
                </div>
              </div>
            </div>
        
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            
            <hr class="my-4">
            <div class="form-group">
              <label for="exampleLastName">Card Number</label>
              <input type="number" class="form-control"  placeholder="Enter card number">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="exampleLastName">Expiry Date</label>
                  <input type="text" class="form-control"  placeholder="Enter expiry date (mm/yy)">
                </div>
                <div class="col">
                  <label for="exampleLastName">Security Code</label>
                  <input type="number" class="form-control"  placeholder="Enter security code">
                </div>
              </div>
            </div>
        
            <br>
            <button type="submit" class="btn btn-primary"  align="center">Buy</button>
          </form>
          
        </div>
      </div>
