<div *ngIf="authService.currentUser">
  <div class="container">
    <hr>
    <!-- <button (click)="emptyCart()">delete this mo fucka</button> -->
   <!-- <button data-toggle="collapse" data-target="#demo2" class="btn btn-info" (click)="displayC()">Show Cart</button>-->
<!--<div id="demo2" class="collapse">-->
    <!-- <button (click)="displayC()">run</button> -->
    <button class="btn btn-primary" (click)="displayC()">Show Cart</button>
  <form>
    <hr>
  <div class="cartHeader">
    <h2>
      Shopping Cart
    </h2>
</div>
<hr>

  <div class="itemCart"  *ngFor="let cI of cartItems; let i = index">
    <button type="button" class="close" aria-label="Close" (click)="deleteItem(i)" ng-init="i=0">
          <span aria-hidden="true">&times;</span>
      </button>
    <div class="itemPic"> 
      <img src="{{cI.URL}}" alt="Item" style="width:175px;height:175px;"> 
      <!-- Item Picture -->
    </div>
    
    <div class="itemDesc"> 
      <h3>
        <!-- CLOUD HOODIE -->
        {{cI.Name}}
        <!-- Item Name -->
      </h3> 
      <p>
        <!-- Hoodie -->
        {{cI.Category}}
        <!-- Item Category -->
      </p>
      <p>
        Size: {{cI.Size}}
        <!-- Item Size -->
      </p>
      <p>
        IN STOCK
        <!-- Item Stock -->
      </p>
        <br>
    </div>
    
    <div class="itemPrice" style="margin-left: 15px;"> 
      <h4>
          {{cI.Price | currency:"CAD$"}}
      </h4> 
    </div>
    
    <br>
    <br>
    <br>



    <br>
      <div class="itemQuantity">  
          <div class="row">
              <div class="col-lg-offset-3 col-lg-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"  (click)="decreaseItem(i)">-</button> 
                  </span>
                  <input type="text" readonly="value" class="form-control" maxlength="2" value="{{cI.Quantity}}" style="width:45px; text-align:right;"> 
                   
                  <span class="input-group-btn">
                   <button class="btn btn-secondary" type="button" (click)="addItem(i)">+</button>
                  </span>
                </div>
              </div>
            </div>
      </div>
  </div>
  <hr>
    <h2 style='display:inline;'>
      Total Price: <span id="currency-default">{{totalPrice | currency:"CAD$"}} </span>
      
    </h2>

    <!-- <button class="btn btn-secondary" type="submit" style="margin-left: 140px;">Checkout</button> -->
</form>
<!--</div>-->
<div id="paypal-checkout-btn"></div>
  </div>
</div>
